div {
	padding: 10px 20px;
	margin: 5px 10px;
	background:  yellow;
	width:400px;
	height: 300px;
	border-radius: 5px;
	-webkit-transition: width 2s, height 2s, -webkit-transform 3s,background 4s; /* Safari */
	transition: width 2s, height 2s, transform 3s, background 4s;
}

div:hover{
	background: lightblue;
	width: 450px;
	height: 350px;
	-webkit-transform: rotate(180deg);/*Safari*/
	transform: rotate(180deg);
}